<div class="col-md-6">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ box_title }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th style="width: 185px">Statut</th>
                    <th style="width: 80px"></th>
                </tr>
                {% if formations is not empty %}
                    {% for formation in formations %}
                        <tr>
                            <td><a href="index.php?controller=formation&action=show&id={{ formation.id }}">{{ formation.name }}</a></td>
                            <td>{{ formation.date }}</td>
                            <td>
                                {% set status = formation.status %}
                                {% if formation.status.state_of_validation is not empty %}
                                    {% set status = formation.status.state_of_validation %}
                                {% endif %}
                                <span class="badge bg-green" data-status={{ status }}>{{ status }}</span>
                            </td>
                            <td><a><i class="fa fa-fw fa-pencil-square-o"></i></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Aucune formation disponible</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <!-- /.box-body -->
        {% if formations is not null %}
            <div class="box-footer text-center">
                <a href="index.php?controller=formation&action=lists&filter={{ filter }}" class="uppercase">Voir plus</a>
            </div>
        {% endif %}
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</div>
