{% extends 'Search/index.html.twig' %}

{% block result %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Résultat(s) de la recherche</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table id="searchFormation" class="table table-striped">
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Durée (en heure)</th>
                            <th>Jours / requis</th>
                            <th>Points / requis</th>
                            <th style="width: 185px">Statut</th>
                            <th style="width: 80px"></th>
                        </tr>
                        {% if formations is not empty %}
                            {% for formation in formations %}
                                <tr>
                                    <td><a href="index.php?controller=formation&action=show&id={{ formation.id }}">{{ formation.name }}</a></td>
                                    <td>{{ formation.date }}</td>
                                    <td>{{ formation.duration }}</td>
                                    <td>{{ formation.days }}</td>
                                    <td>{{ formation.credits }}</td>
                                    {% if formation.status.state_of_validation is defined %}
                                        {% set status = formation.status.state_of_validation %}
                                    {% else %}
                                        {% set status = formation.status %}
                                    {% endif %}
                                    <td><span class="badge bg-green">{{ status }}</span></td>
                                    <td><a><i class="fa fa-fw fa-pencil-square-o"></i></a></td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td colspan="7">Aucune formation trouvée</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}

