{% extends 'layout.html.twig' %}

{% block title %}Gestion d'équipe{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">

     <div class="row">
         {% for member in team %}
         <!-- /.col -->
         <div class="col-md-3">
           <!-- Profile Image -->
           <div class="box box-primary">
             <div class="box-body box-profile">
               <img class="profile-user-img img-responsive img-circle" src="{{ member.image }}" alt="User profile picture">

               <h3 class="profile-username text-center">{{ member.username }}</h3>

               <ul class="list-group list-group-unbordered">
                 <li class="list-group-item">
                   <b>Crédits formation</b> <a class="pull-right">{{ member.credits_left }}</a>
                 </li>
                 <li class="list-group-item">
                   <b>Jours restants</b> <a class="pull-right">{{ member.days_left }}</a>
                 </li>
                 <li class="list-group-item">
                   <b>Demandes</b> <a class="pull-right">{{ member.pendingFormations }}</a>
                 </li>
               </ul>

               <a href="index.php?controller=team&action=manage&id={{ member.id }}" class="btn btn-info btn-block"><b>Gérer les demandes</b></a>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
         <!-- /.col -->
         {% endfor %}

    </div>
        <!-- /.row -->
        <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block script %}<script src="Web/script/Team/manage.js"></script>{% endblock %}


