{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h5><a href="index.php?controller=Home&action=home">Accueil</a></h5>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-maroon">
                        <div class="inner">
                            <h3>{{ employee.credits_left }}</h3>
                            <p>Crédits formation</p>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <h3>{{ employee.days_left }}</h3>
                            <p>Jours restants</p>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ employee.performedFormations }}</h3>
                            <p>Formations effectuées</p>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ employee.pendingFormations }}</h3>
                            <p>Formations en cours de validation</p>
                        </div>
                    </div>
                </div>
                <!-- ./col -->

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Les nouvelles formations</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tr>
                                    <th>Nom</th>
                                    <th>Date</th>
                                    <th style="width: 185px">Statut</th>
                                    <th style="width: 80px"></th>
                                </tr>
                                {% if formations is defined %}
                                    {% for formation in formations %}
                                        <tr>
                                            <td><a href="index.php?controller=formation&action=show&id={{ formation.id }}">{{ formation.name }}</a></td>
                                            <td>{{ formation.date }}</td>
                                            <td><span class="badge bg-green" data-status={{ formation.status }}>{{ formation.status }}</span>
                                            </td>
                                            <td><a><i class="fa fa-fw fa-pencil-square-o"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="index.php?controller=formation&action=index" class="uppercase">Voir plus</a>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- ./col -->
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Formations demandées</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Nom</th>
                                        <th>Date</th>
                                        <th style="width: 185px">Statut</th>
                                        <th style="width: 80px"></th>
                                    </tr>
                                    {% if employee.formations is defined %}
                                        {% for formation in employee.formations %}
                                            <tr>
                                                <td><a href="index.php?controller=formation&action=show&id={{ formation.id }}">{{ formation.name }}</a></td>
                                                <td>{{ formation.date }}</td>
                                                <td><span class="badge bg-green">{{ formation.status.state_of_validation }}</span>
                                                </td>
                                                <td><a><i class="fa fa-fw fa-pencil-square-o"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="index.php?controller=formation&action=index#__askFormations" class="uppercase">Voir plus</a>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- ./col -->
            </div>
            {% if employee.manager_status == 1 %}
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- USERS LIST -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mon équipe</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <ul class="users-list clearfix">
                                    {% for member in team %}
                                        <li>
                                            <img src="{{ member.image }}" alt="User Image">
                                            <a class="users-list-name" href="index.php?controller=team&action=manage&id={{ member.id }}">{{ member.username }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <!-- /.users-list -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="/index.php?controller=team&action=show" class="uppercase">Voir plus</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!--/.box -->
                    </div>
                </div>
                <!-- /.row -->
            {% endif %}
            <!-- Your Page Content Here -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block script %}<script src="Web/script/Home/home.js"></script>{% endblock %}